body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cond{
    border: solid 5px #00b2b5;
    margin: 20px 10px;
    padding: 10px;
    display: flex;
    max-width: 630px;
}

.cam-container{
    border: solid 5px #00b2b5;
    margin: 20px 10px;
    padding: 10px;
    display: flex;
    max-width: 630px;
}

.alarm-container{
    border: solid 5px #00b2b5;
    margin: 20px 10px;
    padding: 10px;
    display: flex;
    max-width: 630px;
    height: 160px;
}

button{
    background-color: #00b2b5;
    padding: 10px;
    margin: 10px;
    border: none;
    color: white;
}

.buttons button{
    display: block;
}

.buttons{
    display: inline;
    margin: 20px;
    
}

.fields{
    margin: 20px;
    width: 160px;
}

.alarm-img{
    border-radius: 77px;
}

.hide{
    display: none;
}

.red{
    animation: siren 2s infinite;
}

.cam-img{
    margin-top: 30px;
    border-radius: 77px;
}

@keyframes siren {
    from {background-color: white;}
    50% {background-color: #ED0618;}
    to {background-color: white;}
    }

.hot{
    animation: hot 2s;
    background-color: orangered;

}
@keyframes hot {
    from {background-color: white;}
    to {background-color: orangered;}
    }


.cold{
    background-color: aqua;
    animation: cold 2s;
}

@keyframes cold {
    from {background-color: white;}
    to {background-color: aqua;}
    }

.normal{
    background-color: white;
}


.dark{
    background-color: black;
    color: white;
}
